{% load static %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vue.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vue-strap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sha256.min.js' %}"></script>
    <title>修改密码</title>
</head>
{% verbatim %}
<body>
    <div class="box" id="view">
        <img src="res/images/logo.png">
        <div class="switch">
            <div>修改密码</div>
        </div>
        <form>
            <bs-input v-model="password_old" type="password" placeholder="旧密码" :enter-submit="true">
                <span slot="before" class="input-group-addon"><i class="mdi mdi-18px mdi-key"></i></span>
            </bs-input>
            <bs-input v-model="password_new" type="password" placeholder="新密码" :enter-submit="true">
                <span slot="before" class="input-group-addon"><i class="mdi mdi-18px mdi-key"></i></span>
            </bs-input>
            <bs-input v-model="password_confirm" type="password" placeholder="确认新密码" :enter-submit="true">
                <span slot="before" class="input-group-addon"><i class="mdi mdi-18px mdi-key"></i></span>
            </bs-input>
            <div>
                <button class="form-control btn btn-success" v-on:click="doModify" type='button'>修改</button>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        (function () {
            Vue.component('button-group', VueStrap.buttonGroup);
            Vue.component('radio', VueStrap.radio);
            Vue.component('bs-input', VueStrap.input);
            var view = new Vue({
                el: '#view',
                data: {
                    'password_old': "",
                    'password_new': "",
                    'password_confirm': ""
                },
                methods: {
                    doModify: function (e) {
                        if (this.password_confirm != this.password_new) {
                            alert("两次密码不一致！")
                            return
                        }
                        if (this.password_new == "") {
                            alert("请输入密码！")
                            return
                        }
                        $.post("/api/user/update", {
                            'type': 'password',
                            'old_password': sha256(this.password_old),
                            'new_password': sha256(this.password_new)
                        }, function (ret) {
                            console.log(ret)
                            if (ret.ok) {
                                alert('修改成功');
                                location = '/#' + decodeURIComponent(location.search.substring(1));
                            } else {
                                alert(ret.msg);
                            }
                        });
                        // return false;
                    }
                }
            })
        })();
    </script>
</body>
{% endverbatim %}
</html>